<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Form</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label for="contact_name">Contact name</label>
        <input
          type="text"
          class="form-control"
          formControlName="contact_name"
          [ngClass]="{
            valid: profileForm.get('contact_name').valid,
            invalid:
              profileForm.get('contact_name').invalid &&
              profileForm.get('contact_name').dirty
          }"
        />
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          formControlName="email"
          [ngClass]="{
            valid: profileForm.get('email').valid,
            invalid:
              profileForm.get('email').invalid && profileForm.get('email').dirty
          }"
        />
        <label for="ph">Phone</label>
        <input
          rows="3"
          class="form-control"
          formControlName="ph"
          [ngClass]="{
            valid: profileForm.get('ph').valid && profileForm.get('ph').dirty,
            invalid:
              profileForm.get('ph').invalid && profileForm.get('ph').dirty
          }"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="profileForm.invalid"
      class="btn btn-outline-dark"
      (click)="sendToParent(); modal.close()"
    >
      Submit
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-info" (click)="open(content)">
  <fa-icon [icon]="faPlus"></fa-icon> New Contact
</button>
