<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label for="lead_name">Lead name</label>
        <input
          type="text"
          class="form-control"
          formControlName="lead_name"
          [ngClass]="{
            valid: profileForm.get('lead_name').valid,
            invalid:
              profileForm.get('lead_name').invalid &&
              profileForm.get('lead_name').dirty
          }"
        />
        <label for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          formControlName="email"
          [ngClass]="{
            valid: profileForm.get('email').valid,
            invalid:
              profileForm.get('email').invalid && profileForm.get('email').dirty
          }"
        />
        <label for="details">Details</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="details"
          [ngClass]="{
            valid:
              profileForm.get('details').valid &&
              profileForm.get('details').dirty,
            invalid:
              profileForm.get('details').invalid &&
              profileForm.get('details').dirty
          }"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="profileForm.invalid"
      class="btn btn-outline-dark"
      (click)="sendToParent(); modal.close()"
    >
      Submit
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-info" (click)="open(content)">
  <fa-icon [icon]="faPlus"></fa-icon> New Lead
</button>
